@import '../base/variables.scss';

.about-page {
  // border: 1px solid blue;
  .about-text {
    // border: 1px solid red;
    h1 {
      color: $blue;
    }
    p {
      color: $blue;

      position: static;
      width: 62%;
      left: 0px;
      top: 72px;

      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0px 24px;
    }
    a {
      background-color: $green;
      border: 1px solid $green;
    }
  }
}

// skills section
.skills-tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .9em;
  padding: 0;
  .skills-card {
    height: 18em;
    border: 1px solid $grey-border;
    background: $grey;
    border-radius: 5px;
    padding: 0;
    .skills-img {
      text-align: center;
    }
    .skills-name {
      text-align: center;
    }
    .tags {
      display: flex;
      justify-content: center;
      .lang-tag {
        padding: 4px 5px 4px 5px;
        margin: 12px 5px 20px 5px;
        color: $green;
        background: $white;
        border: 1px solid $white;
        border-radius: 5px;
      }
    }
  }
}