.app-routes {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}

@media (max-width: 768px) {
  .app-routes {
    display: flex;
    flex-direction: column-reverse;
    .home-page {
      top: 2em;
      width: 100vw;
      height: 100vh;
      display: flex;
      .intro {
        align-self: flex-end;
        margin-bottom: 5em;
        h1 {
          font-size: 1.5em;
        }
        p {
          font-size: 1.2em;
        }
      }
    }
    nav {
      display: block;
      background: #302B27;
      width: 100vw;
      text-align: center;
      transform: rotate(0deg);
      position: fixed;
      top: 0;
      a {
        transform: rotate(0deg);
        margin: 15px;
        font-size: 0.7em;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .aside-page {
      .aside-header {
        position: fixed;
        top: 2.6em;
        right: 0;
        background: rgba(48, 43, 39, 0.7);
        z-index: 10;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 5px;
        width: 45%;
        padding-left: 15px;
        border-bottom-left-radius: 25px;
        h3 {
          display: none;
        }
        .social-links {
          a {
            height: 12px;
            padding-top: 2px;
            img {
              height: 12px;
            }
          }
        }
        .send-message {
          padding-right: 5px;
          a {
            margin-left: 4px;
            margin-top: 4px;
            img {
              height: 20px;
            }
          }
        }
      }
    }
    footer {
      width: 100vw;
      background: #302B27;
      z-index: 10;
    }
  }

  .about-page {
    width: 99.5vw;
    height: 99vh;
    .about-text {
      padding: 1.1em;
      h1 {
        font-size: 1.2em;
      }
      p {
        font-size: 1.1em;
      }
      .signature {
        font-size: 1em;
      }
    }
  }
}