@import '../base/variables';
.contact-container {
  margin-top: 7em;
  margin-bottom: 8.5em;
  position: relative;
  .loader {
      background: transparent;
      width: 85vw;
      height: 100vh;
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  .contact-text {
    display: flex;
    align-items: center;
    h3 {
      color: $blue;
    }
  }
  .contact-page {
    .contact-wrapper {
      .inputs {
        margin-bottom: 1em;
      }
    }
    .send-btn {
      button {
        background: $green;
        border: 1px solid $green;
      }
    }
  }
}