@import '../base/variables';

@media (max-width: 767px) {
  ::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #DD6031;
  border-radius: 2px;
}

// Navigation Component
  nav {
    .nav-brand {
        display: block;
        color: $blue;
        font-size: 1.1em;
      }
  }
// Home page
  .home-container {
    .home-page {
      width: 100vw;
      height: 100vh;
      padding: 0;
      [class^="box"] {
        display: none;
      }
      .intro {
        margin-top: 0;
      }
    }
  }
  // Projects component
  .main-content {
    margin-top: 1.1em;
    .projects-wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  // skills component
  .skills-tab {
    display: grid;
    grid-template-columns: 1fr;
  }
}