@import '../base/variables';

@media (max-width: 767px) {
  ::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #DD6031;
  border-radius: 2px;
}

// Navigation Component
  nav {
    .nav-brand {
        display: block;
        color: $blue;
        font-size: 1.1em;
      }
  }
// Home page
  .home-container {
    .home-page {
      width: 100vw;
      height: 100vh;
      padding: 0;
      [class^="box"] {
        display: none;
      }
      .intro {
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100vw;
        h1 {
          font-size: 1.9em;
        }
        h2 {
          font-size: 1.7em;
        }
        h1, h2, p {
          padding: 0;
          margin: 0;
          text-align: center;
        }
        p {
          margin-left: 0.4em;
          margin-right: 0.4em;
          text-align: justify;
          margin-bottom: 1.2em;
        }
      }
    }
  }
  // Projects component
  .main-content {
    margin-top: 1.1em;
    .projects-wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  // About component

  .about-page {
    .about-text {
      p {
        margin: 0;
        width: 100%;
          text-align: justify;
        }
    }
  }

  // skills component
  .skills-tab {
    display: grid;
    grid-template-columns: 1fr;
  }
}