  @import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

  .main-content {
    overflow: auto;
    width: 87%;
    padding: 1%;
    h3 {
      font-family: Redressed, cursive;
      font-size: 1.8rem;
      text-decoration: underline;
      margin-top: 0;
      margin-bottom: 0;
    }
    .project-page {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .card {
        perspective: 2000px;
        box-shadow: 0px 0px 6px 2px #000;
        transform-style: preserve-3d;
        // border: 1px solid blue;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
        transition: transform 1.5s;
        height: 255px;
        // uncomment those lines out
        &:hover {
          transform: rotateY(180deg);
        }
        .card-inner {
          height: inherit;
          border-radius: 10px;
          figure {
            height: inherit;
            width: 100%;
            // border: 1px solid #ff0000;
          }

          .card-front {
            position: absolute;
            margin-left: 0;
            margin-top: 0px;
            margin-right: 0px;
            top: 0px;
            margin-bottom: 0px;
            bottom: 0px;
            backface-visibility: hidden;
            height: 100%;
            // display: none; // delete this line
            img {
              height: 100%;
              width: 100%;
            }
          }

          .card-back {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            // background: #81A4CD;
            background: #fff;
            // background: #1d3557;
            color: #000;
            height: 255px;
            margin-left: 0px;
            margin-right: 0px;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            margin-top: 0;
            margin-bottom: 5px;
            h2 {
              font-family: 'Rozha One', serif;
            }
            p {
              text-align: center;
              font-family: 'JetBrains Mono', cursive;
              font-size: 1rem;
              padding-left: 1%;
              padding-right: 1%;
              font-weight: bold;
              margin-top: 0;
              margin-bottom: 0;
            }
            // project-links
            .project-links {
              // border: 1px solid #000;
              display: flex;
              width: 100%;
              .source-btn {
                background: #007bff;
                &:hover {
                  background: #0069D9;
                }
              }
              .preview-btn {
                background: #5a6268;
                &:hover {
                  background: #545b62;
                }
              }
              a {
                width: 50%;
                // border: 1px solid red;
                display: block;
                padding: 5px;
                text-align: center;
                // display: none;
                // &:first-child {
                //   border: 1px solid blue;
                //   background: greenyellow;
                //   // display: none;
                //   z-index: 1;
                // }
                img {
                  width: 15%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }