@import '../base/input';

.new-project {
  form {
    input[type="file"] {
      margin-bottom: 15px;
    }
    @include form-style;
    textarea {
      width: 153%;
      margin-bottom: 15px;
    }
  }
}