  @import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

  .main-content {
    border: 1px solid red;
    overflow: auto;
    width: 87%;
    padding: 1%;
    h3 {
      font-family: Redressed, cursive;
      font-size: 1.8rem;
      text-decoration: underline;
      margin-top: 0;
      margin-bottom: 0;
    }
    .project-page {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .card {
        perspective: 2000px;
        transform-style: preserve-3d;
        border: 1px solid blue;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
        transition: transform 1.5s;
        height: 255px;
        // uncomment those lines out
        // &:hover {
          transform: rotateY(180deg);
        // }
        .card-inner {
          height: inherit;
          border-radius: 10px;
          figure {
            height: inherit;
            width: 100%;
            border: 1px solid #ff0000;
          }

          .card-front {
            position: absolute;
            margin-left: 0;
            margin-top: 0px;
            margin-right: 0px;
            top: 0px;
            margin-bottom: 0px;
            bottom: 0px;
            backface-visibility: hidden;
            height: 100%;
            img {
              height: 100%;
              width: 100%;
            }
          }

          .card-back {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background: #81A4CD;
            // background: rgb(39,60,44);
            height: 255px;
            margin-left: 0px;
            margin-right: 0px;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            margin-top: 0;
            margin-bottom: 0;
            h2 {
              font-family: 'Rozha One', serif;
            }
            p {
              text-align: center;
              font-family: 'JetBrains Mono', cursive;
              font-size: 1rem;
              padding-left: 1%;
              padding-right: 1%;
              font-weight: bold;
            }
          }

          .project-links {
            text-align: center;
            border: 1px solid rgb(88, 3, 77);
            display: flex;
            align-items: flex-start;
            .source-btn {
              background: #348AA7;
              img {
                width: 15%;
                padding: 3%;
              }
              &:hover {
                background: rgba(4, 151, 177, 0.884);
              }
            }
            .preview-btn {
              background: #5DD39E;
              &:hover {
                background: rgba(5, 170, 96, 0.8);
              }
            }
            a {
              width: 50%;
              z-index: 10;
              img {
                width: 15%;
                padding: 3%;
              }
            }
          }
        }
      }
    }
  }