  .project-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
    .card {
      perspective: 2000px;
      transform-style: preserve-3d;
      border: 1px solid blue;
      margin-bottom: 10px;
      margin-right: 10px;
      cursor: pointer;
      position: relative;
      transition: transform 1.5s;
      &:hover {
        transform: rotateY(180deg);
      }
      .card-inner {
        height: 100%;
        margin: 1%;
        border-radius: 10px;
        figure {
          height: 250px;
          width: 100%;
          border: 1px solid #ff0000;
        }

        .card-front {
          position: absolute;
          margin-left: 0;
          backface-visibility: hidden;
          img {
            height: 250px;
            width: 100%;
          }
        }
        
        .card-back {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 0px;
          margin-right: 0px;
          transform: rotateY(180deg);
          backface-visibility: hidden;
        }

        .project-links {
          text-align: center;

          a {
            &:last-child {
              margin-left: 5px;
            }

            img {
              width: 12%;
              padding: 3%;
              border: 1px solid transparent;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }