@import './components/AppRoutes.scss';
@import './components/Login.scss';
@import './components/ProjectCreate.scss';
@import './components/ProjectUpdate.scss';
@import './components/Dashboard.scss';
@import './components/Home.scss';

body {
    margin: 0;
    box-sizing: border-box;
    background: #FCFCFC;
}