$blue: #172B4D;
$blue-hover: #1E488F;
$blue-pressed: #0A2759;

$green: #36B37F;
$green-hover: #36B37F;
$green-pressed: #008552;

$red: #FF6163;
$red-hover: #FF6163;
$red-pressed: #DD5153;

$grey: #EBF0EE;

$white: #fff;
$grey-border: #C1C7D0;

$border-btn: #67798E;

$btn-color: #ebebebe3;
